/* *{
margin: 0;
padding: 0;
font-family: 'Poppins' , sans-serif;
box-sizing: border-box;


} */


.login-container{

    margin-top:  10rem;
    padding: 50px;
    /* padding: 0; */
    font-family: 'Poppins' , sans-serif;
    /* box-sizing: border-box; */
    justify-content: center;
    background-color: #64C5AE;; 
    box-shadow: #64C5AE;  
    display: inline-block;
    margin-left: 30rem;
    

}
.input{

    color: black;
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    gap: 10px;
    
}
.inputs{

    color: black;
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.Login-Button{

    color: black;
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    gap: 10px;

}
button:hover{
    background-color:blue;

    
}