.alert-warning {
    margin: 0;
    height:80vh; /* Set the height of the body to the viewport height */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; 
}

.alert-warning .container {
    padding: 30px;
    text-align: center;
    width: 50%;
    /* height: 20vh; */
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
}
.alert-warning .container img {
    width: 150px;
}
.alert-warning .container h2 {
    font-size: 30px;
}

.alert-warning .container p {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 600;
}

.alert-warning .container a {
    margin-top: 5px;
    width: 200px;
    padding: 10px;
    background-color: #64C5AE;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.cart-container {
    margin: 50px;
    display: flex;
    flex-direction: column;
    width: 93%;
    background-color: white;
    border-radius: 10px;
}

.product {
    width: 100%;
}

.product a {
    color: black;
    text-decoration: none;
}

.product a span {
    margin-left: 10px;
}

.cart-wrapper {
    display: flex;
    padding: 20px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.cart-wrapper table {
    width: 100%;
}

.cart-wrapper table hr {
    width: 100%;
}

.btn-empty,
.btn-shop,
.btn-checkout {
    border-radius: 5px;
    background-color: #64C5AE;
    outline: none;
    border: none;
    margin-right: 10px;
    width: 100px;
    height: 30px;
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.delete {
    border-radius: 5px;
    background-color: #64C5AE;
    outline: none;
    border: none;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    color: white;
}

.btn-empty:hover,
.btn-shop:hover,
.btn-checkout:hover {
    border: 1px solid #64C5AE;
    background-color: white;
    color: #64C5AE;
}