<div class="cart-container">
    <div class="product">
        <div class="cart-wrapper">
            <div class="cart">
                <a href="/">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                      </svg>
                      <span>Continue shopping</span>
                </a> 
                <div class="wrapper">
                    <h1>Shopping cart</h1>
                    <div class="cart-detail">
                        <div class="box">
                            <div class="product-image">
                                <img class="image-design" src="https://fakestoreapi.com/img/71YAIFU48IL._AC_UL640_QL65_ML3_.jpg" alt="product-image">
                            </div>
                            <div class="product-detail">
                                <h1>Diamonds rings</h1>
                                <p>Quantity</p>
                            </div>
                            <div class="product-price">Product price</div>
                        </div>
                        <div class="box">
                            <div class="product-image">
                                <img class="image-design" src="https://fakestoreapi.com/img/71YAIFU48IL._AC_UL640_QL65_ML3_.jpg" alt="product-image">
                            </div>
                            <div class="product-detail">Product detail</div>
                            <div class="product-price">Product price</div>
                        </div>
                        <div class="box">
                            <div class="product-image">
                                <img class="image-design" src="https://fakestoreapi.com/img/71YAIFU48IL._AC_UL640_QL65_ML3_.jpg" alt="product-image">
                            </div>
                            <div class="product-detail">Product detail</div>
                            <div class="product-price">Product price</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="payment">2</div>
        </div>
    </div>
</div>