<!-- <h3 class="heading">Register </h3>
<div class="register-container">
    

   <form class="registerForm">
    <div class="fname">
        <label for="firstName">First Name:</label> <br>
        <input type="text" id="firstName" name="firstName" >
      </div>

      <div class="lname">
        <label for="lastName">Last Name:</label> <br>
        <input type="text" id="lastName" name="lastName" >
      </div>

      <div class="email">
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" > 
      </div>

      <div class="password">
        <label for="password"> Password : </label> <br>
        <input type="password" id="password" name="password" >  <br>
      </div>

      <div class="register-button">
        <button type="submit"> Register </button>
      </div>
   </form>

</div> -->

<div class="register-container">
  <form >
    <div class="fname">
      <label for="firstName">First Name:</label> <br>
      <input type="text" id="firstName" name="firstName" >
    </div>

    <div class="lname">
      <label for="lastName">Last Name:</label> <br>
      <input type="text" id="lastName" name="lastName" >
    </div>

    <div class="email">
      <label for="email">Email:</label><br>
      <input type="email" id="email" name="email" > 
    </div>

    <div class="password">
      <label for="password"> Password : </label> <br>
      <input type="password" id="password" name="password" >  <br>
    </div>

    <div class="register-button">
      <button type="submit"> Register </button>
    </div>
 




    
 

  </form>
  <!-- <div>1</div>
  <div>2</div> -->
</div>

