.navBar{
    height: 6.5em;
    background: whitesmoke;
}
.navBar .navUp{
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: white;
    padding-inline: 5em;
    align-items: center;
    overflow: hidden;
}
.navBar .navUp img{
    height: 5.7em;
}
.icons-nav{
    display: flex;
    flex-direction: row;
    gap: 2em;
}
.icons-nav svg{
   height: 2em;
   width: 2em;
}
.icons-nav svg:hover{
    height: 2.1em;
    width: 2.1em;
}






.navBar .navDown{
    background: #64C5AE;
    height: 40%;
    padding-inline: 5em;
    display: flex;
    flex-direction: column;
}
.search-product{
    display: flex;
    justify-content: center;
    align-items: center;
}
#search-box{
    
    width: 70%;
    padding-inline: 10em;
    margin-top: .3em;
    border-radius: 5px;
}
