.main {
  margin: 10px;
  padding: 10px;
  background: whitesmoke;
  border-radius: 20;
}
.section{
    display: flex;
    padding: 5%;
}
.text1{
    font-weight: bold;
    color: #101010;
    font-size: large;
}
.main-form {
  margin: 2%;
  gap: 5%;
  padding: 2%;
}
.icon1 {
  display: flex;
  gap: 5px;
  margin-bottom: 3%;
}

.icon2 {
  display: flex;
  gap: 5px;
  margin-bottom: 3%;
}

.icon3 {
  display: flex;
  gap: 5px;
  margin-bottom: 3%;
}

.icon4 {
  display: flex;
  gap: 5px;
  margin-bottom: 3%;
}

.form-check-label{
    color: #101010;
    font-weight: bold;
}

.form-check-input{
    background-color: #64c5ae;
}

.label{
    color: #64c5ae;
    text-decoration: underline;
    font-weight: bold;

}

.form-control{
    width: 300%;
    
}

.form-group1 {
  background-color: whitesmoke;
}

.image1 img {
  width: 15%;
  margin-left: 65%;
  background: whitesmoke;
}

.footer{
    display: flex;
    gap: 2%;
}


.button1 {
    background-color: #64c5ae;
    border: 2px solid whitesmoke;
    border-radius: 15%;
    color: #101010;
    font-weight: bold;
  
}

.button2 {
  margin: 10px;
  background-color: #64c5ae;
}

.button3 {
  margin: 10px;
  background-color: #64c5ae;
}

.button4 {
  margin: 10px;
  background-color: #64c5ae;
}

.button5 {
  margin: 10px;
  background-color: #64c5ae;
  border: none;
}

.Submit{
    background-color: #64c5ae;
    border: 2px solid whitesmoke;
    border-radius: 15%;
    color: #101010;
    font-weight: bold;
    transition: 0.3s;
    
}

.Submit :hover{
box-shadow: #101010;
color: azure;
background-color: #101010;
}