.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
}
.card-body{
    display: flex;
    justify-content: center;
}