<app-header/>

<div class="products-body">


    <div class="head">
        <div class="numProducts">
            50 items Selected
        </div>

        <div class="selectView">
            <div class="dropdown">
                <!-- Dropdown button -->
                <button class="dropdown-button">Select Category <svg xmlns="http://www.w3.org/2000/svg" width="16"
                        height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                        <path
                            d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                    </svg></button>
                <!-- Dropdown content -->
                <div class="dropdown-content">
                    <!-- Dropdown items (replace these with your categories) -->
                    <a href="#">men's clothing</a>
                    <a href="#">women's clothing</a>
                    <a href="#">jewelery</a>
                    <a href="#">electronics</a>
                    <!-- Add more categories as needed -->
                </div>
            </div>

            <div class="dropdown">
                <!-- Dropdown button -->
                <button class="dropdown-button">Sort by <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                        <path
                            d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                    </svg></button>
                <!-- Dropdown content -->
                <div class="dropdown-content">
                    <!-- Dropdown items (replace these with your categories) -->
                    <a href="#">Price: Low to High</a>
                    <a href="#">Price: High to Low</a>
                    <a href="#">Title: Asc</a>
                    <a href="#">Title: Desc</a>
                    <!-- Add more categories as needed -->
                </div>
            </div>

        </div>
    </div>


    <div class="container">
        <div class="row">
          <div class="col-md-3" *ngFor="let product of products">
            <!-- Your content for each div goes here -->
            <div class="card h-100" (click)="navigateProductDetails(product.id)">
                <div class="card-img-wrapper scale-on-hover"><img src={{product.image}} alt="" class="card-img-top img-fluid"></div>
        
              <div class="card-body ">
                <p class="card-title truncate-text">{{ product.title }}</p>
                <p class="card-price">R {{ (product.price * 18.81).toLocaleString('en-ZA', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}</p>
              </div>
             

            </div>
          </div>
        </div>
      </div>



</div>
