.products-body {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2em;
    padding-inline: 5em;
    margin-top: .4em;
    margin-bottom: 6em;
}
.numProducts {
    font-weight: 600;
    background: #F0F0F0;
    padding: 5px;
    border-radius: .3em;

}
.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.selectView {
    display: flex;
    flex-direction: row;
    gap: .5em;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Style for the dropdown button */
.dropdown-button {
    padding: 5px;
    font-size: 16px;
    border: none;
    font-weight: 500;
    cursor: pointer;
    border-radius: .3em;
}

/* Style for the dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Style for the dropdown items */
.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

/* Change color on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown content when the dropdown button is clicked */
.dropdown:hover .dropdown-content {
    display: block;
}


.container .col-md-3 {
    margin-top: 1em;
    
}


/* Add custom styles in your component's CSS file */

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    box-shadow: 0px 1px 1px 0px rgba(87,81,81,0.43);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(87,81,81,0.43);
    -moz-box-shadow: 0px 1px 1px 0px rgba(87,81,81,0.43);
}
.scale-on-hover {
    transition: transform 0.3s ease-in-out;
  }
  
  .scale-on-hover:hover {
    transform: scale(1.1);
  }

.card-img-wrapper {
    height: 200px;
    overflow: hidden;
    padding: 2em;
}

.card-img-top {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: block;
    margin: auto;
}

.card-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1em;
}

.truncate-text { 
    text-overflow: ellipsis; 
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
  }
  .card-title{
    color: #5B5A5C;
    font-weight: 500;
    font-size: small;
  }
  .ptitle{

    font-weight: 500;color: black;
    font-size: large;

  }
  
.card-price{
    color: black;
    font-weight: 700;
    font-size: large;
}
.container button{
    width: 100%;
    padding: .3em;
    border: 2px solid #1A8744;
    border-radius: .2em;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    margin-top: -2em;
}.container button:hover{
    background: #1A8744;
    color: white;
    transition: background 0.7s ease, color 0.7s ease;
}
.container button svg{
    height: 1.5em;
    width: 1.5em;
}
